@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import 'tailwindcss';

@theme {
    --font-sans: 'Rubik', 'sans-serif';

    @keyframes ticker {
        0% {transform: translateX(0);}
        100% {transform: translateX(-50%);}
    }

    --animate-ticker: ticker 25s linear infinite;
}